body{
    background-image: url(../Screenshot\ \(13\).png);
    background-size: cover;

}
#me{
    height: 70px;
    border: 7px solid white;
    padding-top: 5px;
    background-color: black;
}
.pm{
    display: inline-block;
    margin: 20px 70px;
    color: white;
    text-decoration: none;
}

#hd{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}
#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}