#me{
    height: 70px;
    border: 7px solid white;
    padding-top: 5px;
    background-color: black;
}
.pm{
    display: inline-block;
    margin: 20px 70px;
    color: white;
    text-decoration: none;


}

h1{
 color:white;
 background-color: rgb(0, 229, 255);
 text-align: center;
}
#sl {
 background-color: chartreuse;

}
.heading{
    color: rgb(118, 125, 138);

}
#btn{
    background-color: greenyellow;

}